
.appHeader {
	top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 76px;
  position: absolute;
  border-bottom: 1px solid rgba(76,87,102,.1);
  z-index: 10;
	background-color: #0D0C0C;

	h4 {
		color: #fff;
		font-family: 'Bree Serif';
		text-align: left;
		font-size: 25px;
		padding-left: 30px;
	}
}