.openIssues_container {
	margin-left: 23%;
  margin-top: 5%;
}

.openIssues_actionBar {
	width: 700px;
	height: 50px;
	margin-bottom: 10px;
	box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #fff;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */

  h5 {
  	font-family: 'Bree Serif', serif; 
  	font-size: 19px;
  	padding-top: 15px;
  	padding-left: 15px;
  }
}

.openIssuesList {
	width: 700px;
  margin-top: 27px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border-top: solid 3px;
  border-top-color: #4cb74c;
  background-color: #fff;
}

.openIssue_img {
	height: 80px;
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.openIssue_title {
	font-family: 'Bree Serif', serif;  	
	padding-left: 20px;
	cursor: pointer;
	font-size: 19px;
}

.issue_number {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 0;
  margin-left: 5px;
}

.issues_created_date {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 10px;
}

.issue_opened_by {
	display: inline-block;
	margin-left: 10px;
}


.repositoryWarningLayout {
  margin-left: 15%;
  max-width: 500px;
  height: 150px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #fff;

  img {
    height: 80px;
    padding-left: 130px;
  }

  h5 {
    font-family: 'Bree Serif', serif; 
    padding-left: 10px;
  }
}
